# .DS_Store is a OSX-only metadata file
**/.DS_Store

# .idea folder is an IntelliJ/Pycharm metadata folder
**/.idea

# .iml files are metadata files for IntelliJ projects
**/*.iml
# Java default build output directory
**/out/

# Java classes
**/*.class
